// libs
@import "libs/bootstrap-reboot.min";
@import "libs/animate";

// fonst, variable
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import "variable/variable";
@import "variable/mixin";
@import "blocks/title";



*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.divider{
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin-top: 25px;
}

.preloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	display: flex;
	align-items: center;
	justify-content: center;  
	background: #fff;
	transition: all 0.5s;
	opacity: 1;
}
.preloader-remove {
	opacity: 0;
	z-index: -10;
}
.preloader-3 svg {
    max-width: 25em;
    border-radius: 3px;
    background: #FFF;
    fill: none;
    stroke: #BFE2FF;
    stroke-linecap: round;
    stroke-width: 12%
}
.preloader-3 use {
    stroke: $main-color;
    animation: preloader-3-a 2s linear infinite;
}
@keyframes preloader-3-a {
    to { 
        stroke-dashoffset: 0px 
    } 
}

//block
@import "blocks/promo";
@import "blocks/sidepanel";
@import "blocks/button";
@import "blocks/menu";
@import "blocks/about";
@import "blocks/resume";
@import "blocks/skill";
@import "blocks/portfolio";
@import "blocks/price";
@import "blocks/contact";

//media
@import "media/media";