.promo{
    position: relative;
    padding-top: 100px;
    background: linear-gradient(-45deg, #ff7c54, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__img{
        max-width: 30%;
        img{
            max-width: 100%;
            border-radius: 24px;
        }
    }
    &__title{
        max-width: 535px;
        margin-top: 10px;
    }
    &__subtitle{
        padding-left: 10px;
        position: relative;
        z-index: 2;
        @include before_circle;
    }
    &__buttons{
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 280px;
    }
    &__link{
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        transition: all 0.3s;
        &:hover{
            text-decoration: none;
            color:$main-color;
        }
      
    }
    &__hover{
        @include hover-button-1;
        height: 45px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}