.resume{
    padding-bottom: 126px;
    &__title{
    text-align: center;
    position: relative;
    @include before_circle;
    &:before{
        top:-6px;
        left:50%;
        transform: translateX(-50%);
    }
    }
    &__subtitle{
        text-align: center;
    }
    .divider{
        margin: 25px auto;
    }

    &__wrapper{
        display: grid;
        grid-template-columns: repeat(2,425px);
        padding:60px 65px 0 65px;
        column-gap: 135px;
    }
    &__column{
        &-title{
            position: relative;
            padding-left: 35px;
            &:before{
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
                left:0;
                top:50%;
                transform: translateY(-50%);
            }
        }
        ul{
            list-style-type: none;
            li{
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: calc(100% + 16px);
                    top:-16px;
                    left:7px;
                    background-color: #000;
                }
            }
        }
    }

    &__item{
        position: relative;
        &:before{
            content: "";
            height: 1px;
            width: 39px;
            position: absolute;
            background-color: #000;
            top:68px;
            left:7px;
        }
        &-head{
            position: relative;
            padding: 45px 0 0 100px;
            h4{
                margin-bottom: 0;
            }
        }
        &-body{
            padding-left: 43px;
            margin-top: 12px;
        }
        &-icon{
            position: absolute;
            top:50px;
            left:45px;
            @include before_circle;
            img{
                position: absolute;
                left:17px;
                top:14px;
            }
        }
        &-location{
            font-size: 12px;
            line-height: 18px;
            font-weight: 500;
            margin-top: 5px;
        }
        &-body{
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
       
    }
    
}