.sidepanel{
    position: fixed;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    top: 160px;
    left: 40px;
    &__link{
        &:hover{
            svg path{
                fill: $main-color;
            }
        }
    }
    &__divider{
        width: 70px;
        height: 0px;
        border: 1px solid #000000;
        transform: rotate(-90deg);
        margin: 20px 0;
    }
    &__text{
        height: 150px;
        width: 25px;
        span{
            display: block;
            transform: rotate(-90deg) translate(-40%, -260%);
            width: 150px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px
        }
    }
}