@mixin before_circle{
    &:before{
        position: absolute;
        content: "";
        width: 36px;
        height: 36px;
        background: $main-color;
        border-radius: 100%;
        z-index: -1;
        top: -25%;
        left:0;
    }
}

@mixin before_cirle_center{
    &:before{
        top:-6px;
        left:50%;
        transform: translateX(-50%);
    }
}

@mixin hover_menu{
    .hover-link {
        background-image: linear-gradient(
          to right,
          #fff,
          #fff 50%,
          #000 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
      }
      
      .hover-link:before{
        content: '';
        background: #fff;
        display: block;
        position: absolute;
        bottom: 12px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
      }
      
      .hover-link:hover {
       background-position: 0;
      }
      
      .hover-link:hover::before{
        width: 100%;
      }
}

@mixin hover-button-1{
    & { 
        box-shadow: inset 0 0 0 0 $main-color;
        color: $main-color;
        padding: 0 .25rem;
        margin: 0 -.25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      }
    &:hover {
        color: #fff;
        box-shadow: inset 300px 0 0 0 $main-color;
        text-decoration: none;
      }
}

@mixin hover-button-2{
    & {
        box-shadow: inset 0 0 0 0 #54b3d6;
        color: #54b3d6;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      }
    &:hover {
        box-shadow: inset 100px 0 0 0 #54b3d6;
        color: white;
      }
}