
@media (max-width: 1439px){
    .sidepanel{
        display: none;
    }
}

@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
    .promo{
        padding-bottom: 20px;
    }
    .about{
        padding-bottom: 60px;
        &__wrapper{
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
       
        &__skills{
            column-gap: 20px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            &-item{
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume{
        padding-top: 30px;
        &__wrapper{
            grid-template-columns: repeat(2,370px);
        }
    }
}

@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
    .about{
        &__wrapper{
            grid-template-columns: 300px 380px;
        }
       &__subtitle{
           font-size: 30px;
       }
       &__text{
           font-size: 12px;
       }
       &__skills{
           grid-template-columns: 360px;
           grid-auto-rows:minmax(115px, auto);
           &-item{
               grid-template-columns: 40px 320px;
           }
       }
    }
    .resume{
        padding-bottom: 60px;
        &__subtitle{
            font-size: 28px;
            }
        &__wrapper{
            column-gap: 50px;
            grid-template-columns: repeat(2,300px);
            }
        }
}

@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .title{
        &_fz48{
            font-size: 28px;
        }
    }
    .promo{
        &__title{
            max-width: 300px;
            line-height: 39px;
        }
    }
    .about{
        padding: 40px 0 40px 0;
        &__wrapper{
            grid-template: 340px auto auto / 1fr;
        }
        &__photo{
            grid-row: unset;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    
    .resume{
        &__wrapper{
            grid-template-columns: 450px;
            row-gap: 40px;
        }
    }
    
    
}

@media (max-width: 576px){
    .container{
        max-width: 100%;
        padding: 0 10px;
    }

    .title{
        &_fz48{
            font-size: 26px;
        }
    }
    .hamburger{
        right: 20px;
    }
    .promo{
        background-position: 57%;
        &__buttons{
            margin-top: 38px;
        }
        
    }
    .menu__block{
        width: 250px;
        padding-left: 20px;
    }

    .about{
        &__wrapper{
            grid-template: 340px auto auto / 1fr;
        }
        &__skills{
            grid-template-columns: 1fr;
        }
        &__subtitle{
            font-size: 24px;
        }
    }
    .resume{
        &__subtitle{
            font-size: 24px;
        }
        &__wrapper{
            grid-template-columns: 290px;
            padding: 40px 12px 40px 8px;
        }
        .divider{
            margin-top: 15px;
        }
    }
}